Gen3sis_tuto/
Data/Gen3sis_landscapes/
Data/Gen3sis_configs/
Data/Gen3sis-configs_Standard_analyses/
Data/Oscillayers/
Data/PALEO_PGEM-bioclim/
Data/World_elevation/
./.Rhistory
.Rproj.user
Results/
Resources/
R/3-Config_runner_Oscillayers/
R/PostProcessing/Deprecated/
R/PostProcessing/6-test.R
.positai
Figures/all_starting_ranges/
Figures/dist_to_isthm/
Figures/div_col_area/
Figures/div_rates/
Figures/prop_col_area/
Figures/prop_successful_exch/
Figures/starting_biome/
Figures/MS/Supp/niche_expanded/NA_vs_SA-Oscillayers-diff_w.pdf
Figures/MS/Supp/Oscillayers
Figures/MS/Supp/Clim_snapshots/*Oscillayers*